<div class="content">
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-12">
                <h4 class="card-title">Rack de Habitaciones</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <span class="bg-success btn-sm text-white m-1"><i class="fas fa-check"></i> Entrada</span>
                <!-- <span class="bg-info btn-sm text-white m-1"><i class="fas fa-check-double"></i> Hora Adicional</span> -->
                <span class="bg-danger btn-sm text-white m-1"><i class="fas fa-sign-out-alt"></i> Salida</span>
                <span class="bg-primary btn-sm text-white m-1"><i class="fas fa-hands-wash"></i> Limpieza</span>
                <span class="bg-secondary btn-sm text-white m-1"><i class="fas fa-unlock"></i> Desbloquear</span>
                <span class="bg-secondary btn-sm text-white m-1"><i class="fas fa-lock"></i> Bloquear</span>
                <span class="bg-warning btn-sm m-1"><i class="fas fa-concierge-bell"></i> Servicio</span>
              </div>
              <div class="col-md-4">
                <span class="habitacionOcupada btn-sm m-1">Habitación Ocupada</span>
                <span class="habitacionSucia btn-sm m-1">Habitación Sucia</span>
                <span class="habitacionBloqueada btn-sm m-1">Habitación Bloqueada</span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive-md">
              <table class="table table-striped table-bordered" id="">
                <thead class="text-secondary">
                  <tr class="headColum">
                    <th>Habitación</th>
                    <th>Tipo</th>
                    <th>Placas</th>
                    <th>Persona Adicional</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                    <th>Tarifa</th>
                    <th>Tiempo</th>
                    <th>Hora Adicional</th>
                    <th>Observaciones</th>
                    <th colspan="7">Opciones</th>
                  </tr>
                </thead>
                <tbody >
                  <tr class="headColum" *ngFor="let item of movimientos"
                    [ngClass]="{
                      'habitacionOcupada': item.estado_habitacion === 1,
                      'habitacionSucia': item.estado_habitacion === 2,
                      'habitacionBloqueada': item.estado_habitacion === 3
                    }">
                    <td>{{item.habitacion_numero}}</td>
                    <td>{{item.tipo_habitacion_nombre}}</td>
                    <td class="text-uppercase">{{item.placa_vehiculo}}</td>
                    <td>{{item.adicional}}</td>
                    <td>{{item.entrada}}</td>
                    <td>{{item.salida}}</td>
                    <td>{{item.tarifa_precio | currency}}</td>
                    <td>{{item.tarifa_hora}}</td>
                    <td>{{item.hora_adicional}}</td>
                    <td>{{item.observaciones}}</td>
                    <td><button type="button" class="btn btn-success btn-sm" placement="start" ngbTooltip="Registrar Entrada" [disabled]="item.estado_habitacion!==0" (click)="registrarEntrada(item.habitacion_id, item.habitacion_numero, item.tipo_habitacion_id, item.movimiento_habitacion_id)"><i class="fas fa-check"></i></button></td>
                    <!-- <td><button type="button" class="btn btn-info btn-sm text-white" placement="start" ngbTooltip="Registrar Hora Adicional" [disabled]="item.movimiento_habitacion_id===0" (click)="registrarEntrada(item.habitacion_id, item.habitacion_numero, item.tipo_habitacion_id, item.movimiento_habitacion_id)"><i class="fas fa-check-double"></i></button></td> -->
                    <td><button type="button" class="btn btn-danger btn-sm" placement="start" ngbTooltip="Registrar Salida" [disabled]="item.estado_habitacion!==1" (click)="registrarSalida(item.habitacion_id, item.habitacion_numero)"><i class="fas fa-sign-out-alt"></i></button></td>
                    <td><button type="button" class="btn btn-primary btn-sm" placement="start" ngbTooltip="Registrar Limpieza" [disabled]="item.estado_habitacion!==2" (click)="registrarLimpieza(item.habitacion_id, item.habitacion_numero)"><i class="fas fa-hands-wash"></i></button></td>
                    <td><button type="button" class="btn btn-secondary btn-sm" placement="start" ngbTooltip="Desbloquear Habitación" [disabled]="item.estado_habitacion!==3" (click)="registrarDesbloqueo(item.habitacion_id, item.habitacion_numero)"><i class="fas fa-unlock"></i></button></td>
                    <td><button type="button" class="btn btn-secondary btn-sm" placement="start" ngbTooltip="Bloquear Habitación" [disabled]="item.estado_habitacion!==0" (click)="registrarBloqueo(item.habitacion_id, item.habitacion_numero)"><i class="fas fa-lock"></i></button></td>
                    <td><button type="button" class="btn btn-warning btn-sm" placement="start" ngbTooltip="Registrar Servicio" [disabled]="item.estado_habitacion!==1" (click)="registrarServicio(item.habitacion_id, item.habitacion_numero)"><i class="fas fa-concierge-bell"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>