<div class="content">
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-12">
                <h4 class="card-title">Rack de Habitaciones</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn bg-success btn-sm text-white m-1"><i class="fas fa-check"></i> Entrada</button>
                <button class="btn bg-info btn-sm text-white m-1"><i class="fas fa-check-double"></i> Hora Adicional</button>
                <button class="btn bg-danger btn-sm text-white m-1"><i class="fas fa-sign-out-alt"></i> Salida</button>
                <button class="btn bg-primary btn-sm text-white m-1"><i class="fas fa-hands-wash"></i> Limpieza</button>
                <button class="btn bg-secondary btn-sm text-white m-1"><i class="fas fa-unlock"></i> Desbloquear</button>
                <button class="btn bg-secondary btn-sm text-white m-1"><i class="fas fa-lock"></i> Bloquear</button>
                <button class="btn bg-warning btn-sm m-1"><i class="fas fa-concierge-bell"></i> Servicio</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="habitacionDisponible btn-sm m-1">Habitación Disponible <span class="badge bg-secondary">{{h_disponibles}}</span></button>
                <button class="habitacionOcupada btn-sm m-1">Habitación Ocupada <span class="badge bg-secondary">{{h_ocupadas}}</span></button>
                <button class="habitacionSucia btn-sm m-1">Habitación Sucia <span class="badge bg-secondary">{{h_sucias}}</span></button>
                <button class="habitacionBloqueada btn-sm m-1">Habitación Bloqueada <span class="badge bg-secondary">{{h_bloqueadas}}</span></button>
                <button class="btn-sm m-1">Habitación Siguiente: {{siguiente_habitacion}}</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive-md">
              <table class="table table-striped table-bordered" id="">
                <thead class="text-secondary">
                  <tr class="headColum">
                    <th>Habitación</th>
                    <th>Tipo</th>
                    <th>Placas</th>
                    <th>Adicional</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                    <th>Tarifa</th>
                    <th>Horas</th>
                    <th>Adicional</th>
                    <th>Costo</th>
                    <th>Observaciones</th>
                    <th colspan="7">Opciones</th>
                  </tr>
                </thead>
                <tbody >
                  <tr class="headColum" *ngFor="let item of movimientos"
                    [ngClass]="{
                      'habitacionDisponible': item.estado_habitacion === 0,
                      'habitacionOcupada': item.estado_habitacion === 1,
                      'habitacionSucia': item.estado_habitacion === 2,
                      'habitacionBloqueada': item.estado_habitacion === 3
                    }">
                    <td>{{item.habitacion_numero}}</td>
                    <td>{{item.tipo_habitacion_nombre}}</td>
                    <td>{{item.placa_vehiculo}}</td>
                    <td><span *ngIf="item.adicional>0" >{{item.adicional}}</span></td>
                    <td>{{item.entrada}}</td>
                    <td>{{item.salida}}</td>
                    <td><span *ngIf="item.tarifa_precio!==0" >{{item.tarifa_precio | currency}}</span></td>
                    <td>{{item.tarifa_hora}}</td>
                    <td><span *ngIf="item.hora_adicional>0" >{{item.hora_adicional}}</span></td>
                    <td><span *ngIf="item.hora_adicional_costo!==0" >{{item.hora_adicional_costo | currency}}</span></td>
                    <td><span *ngIf="item.estado_habitacion === 3">{{item.motivo_bloqueo}}</span> <span *ngIf="item.estado_habitacion !== 3">{{item.observaciones}}</span></td>
                    <td><button type="button" class="btn btn-success btn-sm" placement="start" ngbTooltip="Registrar Entrada" [disabled]="item.estado_habitacion!==0" (click)="registrarEntrada(item.habitacion_id, item.habitacion_numero, item.tipo_habitacion_id)"><i class="fas fa-check"></i></button></td>
                    <td><button type="button" class="btn btn-info btn-sm text-white" placement="start" ngbTooltip="Registrar Hora Adicional" [disabled]="item.movimiento_habitacion_id===0" (click)="registrarHoraAdicional(item.habitacion_numero, item.movimiento_habitacion_id)"><i class="fas fa-pencil-alt"></i></button></td>
                    <td><button type="button" class="btn btn-danger btn-sm" placement="start" ngbTooltip="Registrar Salida" [disabled]="item.estado_habitacion!==1" (click)="registrarSalida(item.habitacion_id, item.habitacion_numero)"><i class="fas fa-sign-out-alt"></i></button></td>
                    <td><button type="button" class="btn btn-primary btn-sm" placement="start" ngbTooltip="Registrar Limpieza" [disabled]="item.estado_habitacion!==2" (click)="registrarLimpieza(item.habitacion_id, item.habitacion_numero)"><i class="fas fa-hands-wash"></i></button></td>
                    <td><button type="button" class="btn btn-secondary btn-sm" placement="start" ngbTooltip="Desbloquear Habitación" [disabled]="item.estado_habitacion!==3" (click)="registrarDesbloqueo(item.habitacion_id, item.habitacion_numero)"><i class="fas fa-unlock"></i></button></td>
                    <td><button type="button" class="btn btn-secondary btn-sm" placement="start" ngbTooltip="Bloquear Habitación" [disabled]="item.estado_habitacion!==0" (click)="registrarBloqueo(item.habitacion_id, item.habitacion_numero)"><i class="fas fa-lock"></i></button></td>
                    <td><button type="button" class="btn btn-warning btn-sm" placement="start" ngbTooltip="Registrar Servicio" [disabled]="item.estado_habitacion!==1" (click)="registrarServicio(item.habitacion_id, item.habitacion_numero)"><i class="fas fa-concierge-bell"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>