<div class="modal-header">
    <h4 class="modal-title">Registrar Desbloqueo Habitación: {{habitacion_numero}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
          <div class="form-group text-center">
              <h5 class="text-uppercase">Seguro que desea confirmar el desbloqueo de la habitación: {{habitacion_numero}}</h5>
          </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="guardar()">Sí</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">No</button>
  </div>