<div class="modal-header">
    <h4 class="modal-title">Registrar Entrada Habitación: {{habitacion_numero}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
  
    <form (ngSubmit)="guardar()" [formGroup]="formRegistrarEntrada">
      <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="palcas">Información del Vehículo</label>
            <input type="text" class="form-control" id="palcas" aria-describedby="placas_v" required placeholder="Información del vehículo Ej: Mazda 2 Blanco Placas: YUJ-811-A" formControlName="placa_vehiculo">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="palcas">Entrada</label>
            <div class="input-group">
              <input type="datetime-local" class="form-control" required formControlName="entrada">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="adicional">Persona Adicional</label>
            <select class="form-control" id="adicional" formControlName="adicional">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="tarifa">Tarifa</label>
            <select class="form-control" id="tarifa" [(ngModel)]="tarifaSeleccionadaId" required name="tarifa_v" (change)="tarifaSeleccionada()" formControlName="tarifa_id">
              <option [ngValue]="null" [disabled]="true" >Seleccione la tarifa</option>
              <option *ngFor="let item of tarifas" [value]="item.tarifa_id">
                Horas: {{item.tarifa_hora}} - Costo: {{item.tarifa_precio | currency}}
              </option>
          </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group" [hidden]="movimiento_habitacion_id===0">
            <label for="hora_adicional">Hora Adicional</label>
            <select class="form-control" id="hora_adicional" formControlName="hora_adicional">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" *ngIf="formRegistrarEntrada.valid" (click)="guardar()">Guardar</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button>
    </div>
    </form>